<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.shippingapplication.mapper.CarrierInTransitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.shippingapplication.pojo.CarrierInTransit">
        <id column="id" property="id" />
        <result column="carrier_id" property="carrierId" />
        <result column="type" property="type" />
        <result column="transport_id" property="transportId" />
        <result column="begin_city_id" property="beginCityId" />
        <result column="end_city_id" property="endCityId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="weight" property="weight" />
        <result column="finish" property="finish" />
        <result column="order_num" property="orderNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, carrier_id, type, transport_id, begin_city_id, end_city_id, begin_time, end_time, weight, finish, order_num
    </sql>

</mapper>
