<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.shippingapplication.mapper.CarrierBigTruckMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itcast.feign.pojo.CarrierBigTruck">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="city_id" property="cityId" />
        <result column="license_plate_number" property="licensePlateNumber" />
        <result column="refrigerated" property="refrigerated" />
        <result column="max_capacity" property="maxCapacity" />
        <result column="carrier_id" property="carrierId" />
        <result column="target_city_id" property="targetCityId" />
        <result column="residual_capacity" property="residualCapacity" />
        <result column="hole_time" property="holeTime" />
        <result column="begin_time" property="beginTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, city_id, license_plate_number, refrigerated, max_capacity, carrier_id, target_city_id, residual_capacity, hole_time, begin_time
    </sql>

</mapper>
